<nav class="add-doc-header" aria-label="Sayfa konumu">
  <ol class="add-doc-header__crumbs">
    <li class="add-doc-header__crumb">
      <button type="button" class="add-doc-header__link" (click)="libraryClick.emit()">
        Kütüphane
      </button>
    </li>
    <li class="add-doc-header__crumb">
      <span class="material-symbols-outlined add-doc-header__sep">chevron_right</span>
      <span class="add-doc-header__current">Yeni İçerik</span>
    </li>
  </ol>
  <h1 class="add-doc-header__title">Yeni İçerik Ekle</h1>
  <p class="add-doc-header__subtitle">Sisteme yeni bir belge veya medya öğesi ekleyin.</p>
</nav>
